$color-primary: #8877dd;
$color-primary--dark: #6a4fec;
$color-font--light: #fdfafa;
$color-font--dark: #1f1f1f;
$color-icon: #131313;

$color-bg-primary: #fefefe;
$color-bg-secondary: #cbf7fa;

$color-option-1: #d3ff59;
$color-option-2: #25ccf7;
$color-option-3: #d37df5;
$color-option-4: #f5af46;
$color-option-5: #f32786;

$color-wrong: #c0392b;
$color-correct: #2ecc71;
